body{
    color: rgb(5, 105, 5)
}

h1{
    color: green;
    margin-top: 5px;
}

.reader{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    
}
.left{
    width: 60%;
}
.right{
    margin-left: 10%
}

p{
    font-size: 18px;
    font-weight: 400;
}
li{
    font-size: 25px;
    margin-top: 5%;
}