.poke{
    width: 20%;
}

.head{
    padding-top: 12%;
}
.card-text{
    margin-bottom: 2%;
}

.me{
    margin-top: 1%;
}

.divider{
    display: flex;
}
.trainers{
    margin-top: 1%;
    margin-left: 20%;
}

.t-poke{
    margin-bottom: 1%;
}

.b-but{
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.flexer{
    display: flex;
    flex-wrap: wrap;
}