<div class="card pokemon" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="{{pokemon.sprite}}" class="img-fluid rounded-start" alt="pokemon">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">HP: {{pokemon.hp}}</p>
        <p class="card-text">Attack: {{pokemon.attk}}</p>
        <p class="card-text">Defense: {{pokemon.defense}}</p>
      </div>
    </div>
  </div>
</div>