<div class="card" style="width: 18rem;">
  <img src="{{poke.sprite}}" class="card-img-top piccy" alt="pokemon_image" style="background-image: url('https://res.cloudinary.com/dc0hokgpp/image/upload/v1659618910/pokemon%20pics/IMG_0122_geisoo.jpg')">
  <div class="card-body">
    <h5 class="card-title">{{poke.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Ability: {{poke.ability}}</li>
    <li class="list-group-item">Exp: {{poke.exp}}</li>
    <li class="list-group-item">Attack Power: {{poke.attk}}</li>
    <li class="list-group-item">Hit Points: {{poke.hp}}</li>
    <li class="list-group-item">Deffense: {{poke.defense}}</li>
  </ul>
  <div class="card-body">
    {% if poke in current_user.pokemon.all() %}
    <a href="{{url_for('pokemon.release_pokemon', name=poke.name)}}" class="btn btn-warning">Release</a>
    {# <a href="{{url_for('pokemon.release_pokemon', id=poke.id)}}" class="btn btn-warning">Rename</a> #}
    {% endif %}
  </div>
</div>