
<div class="card mb-2" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="{{trainer.get_icon_url()}}" class="img-fluid rounded-start" alt="trainer image">
      <a href="{{url_for('pokemon.battle', id=trainer.id)}}" class="btn btn-danger b-but">Battle!</a>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{trainer.first_name}} {{trainer.last_name}}</h5>
        <p class="card-text"><small class="text-muted">Wins: {{trainer.wins}} Loses: {{trainer.loses}}</small></p>
        <div class="flexer">
        {%for pokemon in trainer.pokemon%}
        <p class="card-text t-poke">{{pokemon.name}}&nbsp&nbsp</p>
        {%endfor%}
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
