{% extends 'base.html.j2'%}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{%endblock%}

{% block title%}
    Home
{% endblock %}


{% block content %}
<div>
    <h1>WELCOME IDIOT</h1>
</div>
<div class="reader">
    <div class="left">
    <h2>Why we do it</h2>
    <p> Welcome trainer, you have stepped into the pokematrix, to travel through
    lands virtual and real to uncover the secrets of the pokeverse. Do you have 
    what it takes to befriend pokemon of all types? Are you a watchful gaurdian?
    A fearless leader? And above all...a friend?Welcome trainer, you have stepped into the pokematrix, to travel through
    lands virtual and real to uncover the secrets of the pokeverse. Do you have 
    what it takes to befriend pokemon of all types? Are you a watchful gaurdian?
    A fearless leader? And above all...a friend??Welcome trainer, you have stepped into the pokematrix, to travel through
    lands virtual and real to uncover the secrets of the pokeverse. Do you have 
    what it takes to befriend pokemon of all types? Are you a watchful gaurdian?
    A fearless leader? And above all...a friend?</p> 
    </div>
    <div class="right">
        <h2>Good Trainers <br>are...</h2>
        <ul>
            <li>Level Headed</li>
            <li>Brave</li>
            <li>Strong Leader</li>
            <li>Confident</li>
            <li>Loyal</li>
        </ul>

    </div>

</div>

{%endblock%}